@import url("https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap");
body {
	margin-right: 10%;
	margin-left: 10%;
	margin-bottom: 50px;
	--stripe: #c8e0f3;
	--bg: #ffffff;

	background: linear-gradient(135deg, var(--bg) 25%, transparent 25%) -50px 0,
		linear-gradient(225deg, var(--bg) 25%, transparent 25%) -50px 0,
		linear-gradient(315deg, var(--bg) 25%, transparent 25%),
		linear-gradient(45deg, var(--bg) 25%, transparent 25%);
	background-size: 300px 100px;
	background-color: var(--stripe);
	font-family: "Tajawal", sans-serif;
	font-size: 1.05rem;
	animation: name duration timing-function delay iteration-count direction
		fill-mode;
	animation: 5s ease-in-out 5s infinite reverse both running easingAnimation;
}
* {
	font-family: "Tajawal", sans-serif;
	font-weight: 500;
}
h1,
h2,
h3,
h4,
h5,
h6,
b {
	font-weight: bolder;
}
.row {
	margin-top: 5%;
}
#sorqatBTN {
	margin: 25px 0;
	background-color: #801d3e;
	color: rgb(255, 255, 255);
	font-weight: bold;
	font-size: x-large;
}
@media screen and (max-width: 765px) {
	iframe {
		width: 100%;
	}
}
@keyframes easingAnimation {
	0% {
		--stripe: #c8e0f3;
		--bg: #ffffff;
	}
	50% {
		--stripe: #ffffff;
		--bg: #c8e0f3;
	}
	100% {
		--stripe: #c8e0f3;
		--bg: #ffffff;
	}
}
